Repository CheapNud/CheapShotcutRandomizer, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ui, area/services, area/models, area/tests, area/ai-upscaling, area/frame-interpolation, area/video-processing, area/dependencies, type/documentation, type/config, type/build, dependencies

.github/labeler.yml:

# Auto-labeling configuration for Pull Requests

# Areas
area/ui:
  - 'Components/**/*'
  - '**/*.razor'

area/services:
  - 'Services/**/*'

area/models:
  - 'Models/**/*'

area/tests:
  - 'CheapShotcutRandomizer.Tests/**/*'
  - '**/*Tests.cs'

area/ai-upscaling:
  - 'Services/RealCUGAN/**/*'
  - 'Services/RealESRGAN/**/*'

area/frame-interpolation:
  - 'Services/RIFE/**/*'

area/video-processing:
  - 'Services/FFmpegRenderService.cs'
  - 'Services/MeltRenderService.cs'
  - 'Services/VapourSynth/**/*'

area/dependencies:
  - 'Services/DependencyChecker.cs'
  - 'Services/DependencyInstaller.cs'
  - 'Services/ExecutableDetectionService.cs'

# File types
type/documentation:
  - '**/*.md'
  - 'docs/**/*'

type/config:
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.config'

type/build:
  - '**/*.csproj'
  - '**/*.sln'
  - '.github/**/*'

# Changes
dependencies:
  - '**/packages.lock.json'
  - '**/*.csproj'

size/XS:
  - any: ['**/*']
    max-changes: 10

size/S:
  - any: ['**/*']
    min-changes: 11
    max-changes: 50

size/M:
  - any: ['**/*']
    min-changes: 51
    max-changes: 200

size/L:
  - any: ['**/*']
    min-changes: 201
    max-changes: 500

size/XL:
  - any: ['**/*']
    min-changes: 501

package upgrade
  CheapShotcutRandomizer.csproj
Labels: type/build, dependencies

Bunit patch
  CheapShotcutRandomizer.Tests/CheapShotcutRandomizer.Tests.csproj
  CheapShotcutRandomizer.Tests/Components/RenderJobCardTests.cs
  CheapShotcutRandomizer.csproj
Labels: area/tests, type/build, dependencies

113 tests passing, zero failures. The bUnit bureaucrats are satisfied.
  CheapShotcutRandomizer.Tests/Components/RenderJobCardTests.cs
  CheapShotcutRandomizer.Tests/Components/RenderQueueTests.cs
Labels: area/tests

init
  CheapShotcutRandomizer.Core/CheapShotcutRandomizer.Core.csproj
  CheapShotcutRandomizer.Core/Models/AppSettings.cs
  CheapShotcutRandomizer.Core/Models/FFmpegRenderSettings.cs
  CheapShotcutRandomizer.Core/Models/MeltRenderSettings.cs
  CheapShotcutRandomizer.Core/Models/Mlt.cs
  CheapShotcutRandomizer.Core/Models/NonAiUpscalingOptions.cs
  CheapShotcutRandomizer.Core/Models/QueueStatistics.cs
  CheapShotcutRandomizer.Core/Models/RealCuganOptions.cs
  CheapShotcutRandomizer.Core/Models/RealEsrganOptions.cs
  CheapShotcutRandomizer.Core/Models/RenderJob.cs
  CheapShotcutRandomizer.Core/Models/RenderJobStatus.cs
  CheapShotcutRandomizer.Core/Models/RenderType.cs
  CheapShotcutRandomizer.Core/Models/RifeSettings.cs
  CheapShotcutRandomizer.Core/Services/Interfaces/IFFmpegService.cs
  CheapShotcutRandomizer.Core/Services/Interfaces/IFileInputService.cs
  CheapShotcutRandomizer.Core/Services/Interfaces/IPlatformService.cs
  CheapShotcutRandomizer.Core/Services/Interfaces/IRifeService.cs
  CheapShotcutRandomizer.Core/Services/Interfaces/IUpscaleService.cs
  CheapShotcutRandomizer.csproj
  CheapShotcutRandomizer.sln
Labels: type/build, dependencies

The project now cleanly separates MLT/Shotcut rendering (CheapShotcutRandomizer) from AI upscaling (CheapUpscaler), with shared services in CheapHelpers.MediaProcessing.
  CheapShotcutRandomizer.Tests/Components/RenderJobCardTests.cs
  CheapShotcutRandomizer.Tests/Components/RenderQueueTests.cs
  CheapShotcutRandomizer.Tests/Models/AppSettingsTests.cs
  CheapShotcutRandomizer.Tests/Models/RenderJobTests.cs
  CheapShotcutRandomizer.Tests/Services/RenderQueueServiceTests.cs
  CheapShotcutRandomizer.Tests/Services/SettingsServiceTests.cs
  Components/Pages/Settings.razor
  Components/Shared/AddRenderJobDialog.razor
  Components/_Imports.razor
  Data/RenderJobDbContext.cs
  Data/Repositories/IRenderJobRepository.cs
  Data/Repositories/RenderJobRepository.cs
  Models/AppSettings.cs
  Models/Mlt.cs
  Models/NonAiUpscalingOptions.cs
  Models/QueueStatistics.cs
  Models/RealCuganOptions.cs
  Models/RealEsrganOptions.cs
  Models/RenderJob.cs
  Models/RenderJobStatus.cs
  Models/RenderProgressEventArgs.cs
  Models/RenderType.cs
  Services/FileSearchService.cs
  Services/ProjectStateService.cs
  Services/Queue/IRenderQueueService.cs
  Services/Queue/RenderQueueService.cs
  Services/SettingsService.cs
  Services/ShotcutService.cs
  Services/SimulatedAnnealingVideoSelector.cs
  Services/Utilities/DebugLogger.cs
Labels: area/ui, area/services, area/models, area/tests

Now focused purely on: - MLT/Shotcut project file parsing - Melt rendering via MeltRenderService - Track selection - In/out point markers - Render queue management
  Components/Pages/Settings.razor
  Components/Shared/AddRenderJobDialog.razor
  Components/_Imports.razor
Labels: area/ui

cleanup
  CheapShotcutRandomizer.Core/Models/AppSettings.cs
  CheapShotcutRandomizer.Core/Models/RenderJob.cs
  CheapShotcutRandomizer.Core/Models/RifeSettings.cs
  CheapShotcutRandomizer.Tests/Components/RenderJobCardTests.cs
  CheapShotcutRandomizer.Tests/Models/AppSettingsTests.cs
  CheapShotcutRandomizer.Tests/Models/RenderJobTests.cs
  CheapShotcutRandomizer.Tests/Services/SettingsServiceTests.cs
  Components/Pages/Settings.razor
  Components/Shared/AddRenderJobDialog.razor
  Components/Shared/FirstRunWizard.razor
  Components/Shared/RenderJobCard.razor
  Data/RenderJobDbContext.cs
  Models/DependencyType.cs
  Services/DependencyInstaller.cs
  Services/Queue/RenderQueueService.cs
  TODO.md
Labels: area/ui, area/services, area/models, area/tests, area/dependencies, type/documentation

delete todo
  TODO.md
Labels: type/documentation

docs updated
  CheapShotcutRandomizer.Core/CheapShotcutRandomizer.Core.csproj
  CheapShotcutRandomizer.Tests/CheapShotcutRandomizer.Tests.csproj
  CheapShotcutRandomizer.csproj
  README.md
  docs/README.md
  docs/development.md
  docs/features/non-ai-upscaling.md
  docs/features/real-cugan.md
  docs/features/real-esrgan.md
  docs/features/rife.md
  docs/features/vapoursynth.md
  docs/hardware.md
  docs/installation.md
Labels: area/tests, type/documentation, type/build, dependencies

update packages
  CheapShotcutRandomizer.Core/CheapShotcutRandomizer.Core.csproj
  CheapShotcutRandomizer.csproj
Labels: type/build, dependencies

the actual package upgrades
  CheapShotcutRandomizer.Core/CheapShotcutRandomizer.Core.csproj
  CheapShotcutRandomizer.csproj
Labels: type/build, dependencies

Fixed: 1. ✅ Added ShouldSerializeIn() and ShouldSerializeOut() to Tractor class 2. ✅ Renamed SaveToTempFileAsync → SaveToSourceDirectoryAsync
  CheapShotcutRandomizer.Core/Models/Mlt.cs
  Components/Pages/Home.razor
Labels: area/ui
